################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NewBack/CleanMeUp/CleanMeUp
/NewBack/CleanMeUp/CleanMeUp.Domain.Model
/NewBack/CleanMeUp
