################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ClenMeUpNew/v16
/.vs
/CleanMeUp/CleanMeUp.WebApi/obj/Release/netcoreapp3.1
/CleanMeUp/CleanMeUp.WebApi/obj/Debug/netcoreapp3.1
/CleanMeUp/CleanMeUp.Infrastructure.Data.Ef/obj
/CleanMeUp/CleanMeUp.Infrastructure.Data.Ef/bin
/CleanMeUp/CleanMeUp.Infrastructure.Data.Ef/obj/Release/netcoreapp3.1
/CleanMeUp/CleanMeUp.Infrastructure.Data.Ef/obj/Debug/netcoreapp3.1
/CleanMeUp/CleanMeUp.Infrastructure.Data/obj/Release/netcoreapp3.1
/CleanMeUp/CleanMeUp.Infrastructure.Data/obj/Debug/netcoreapp3.1

/CleanMeUp/CleanMeUp.Infrastructure/obj/Release/netcoreapp3.1
/CleanMeUp/CleanMeUp.Infrastructure/obj/Debug/netcoreapp3.1
/CleanMeUp/CleanMeUp.Domain.Service/obj/Release/netcoreapp3.1
/CleanMeUp/CleanMeUp.Domain.Service/obj/Debug/netcoreapp3.1
/CleanMeUp/CleanMeUp.Domain.Model/obj/Release/netcoreapp3.1
/CleanMeUp/CleanMeUp.Domain.Model/obj/Debug/netcoreapp3.1
/CleanMeUp/.vs
/CleanMeUp/CleanMeUp.Domain.Model/bin
/CleanMeUp/CleanMeUp.Domain.Model/obj
/CleanMeUp/CleanMeUp.Domain.Service/bin
/CleanMeUp/CleanMeUp.Domain.Service/obj
/CleanMeUp/CleanMeUp.Infrastructure/bin
/CleanMeUp/CleanMeUp.Infrastructure/obj
/CleanMeUp/CleanMeUp.Infrastructure.Data/bin
/CleanMeUp/CleanMeUp.Infrastructure.Data/obj
/CleanMeUp/CleanMeUp.Infrastructure.Data.Ef/bin
/CleanMeUp/CleanMeUp.Infrastructure.Data.Ef/obj
/CleanMeUp/CleanMeUp.WebApi/bin
/CleanMeUp/CleanMeUp.WebApi/obj
