$logocolor: #E1CEFF;
$buttoncolor: #7AD0DB;
$buttoncolorhover: #77bec9;
$hovercolor: #82E5F2;
$h3color: #6200FF;
$bordercolor: #EBE8E8;
$shadowcolor: #00000029;
$paragraphcolor: #3B3B3B;
$backgroundcolor: #6A4AA4;
$imagebordercolor: #D3B5FF;
$footerbackground: #280D4A;
$graybackgroundcolor: #F7F7F7;
$formlisttext: #82E5F2;
$ordertext : #ffffff29;
$purplecircle: #8E41FF;
$errorcolor: #db214a;
$bordercolorlight: #B7B7B7;