body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/background.png");
}
h3 {
  color: #ffffff;
}
h5 {
  color: #ffffff;
  margin-top: 2rem;
}
h6 {
  color: #ffffff;
  margin-top: 2rem;
}
a {
  color: #ffffff !important;
}
span {
  color: #ffffff;
  margin: 1rem;
}
